---
interface Props {
	prev?: string
	next?: string
}

const { prev, next } = Astro.props
---

<nav
	role="navigation"
	aria-label="pagination"
	class="container mx-auto my-8 grid grid-cols-[auto_1fr_auto] px-4"
>
	{
		prev && (
			<a href={prev} class=" group relative rounded-full bg-black ">
				<span class="inline-block rounded-full  border-2 border-black bg-white px-4 py-1 text-center font-bold transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-focus-visible:-translate-y-1 group-focus-visible:translate-x-1">
					precédent
				</span>
			</a>
		)
	}
	{
		next && (
			<a href={next} class="group  relative col-start-3 rounded-full bg-black ">
				<span class="inline-block rounded-full  border-2 border-black bg-white px-4 py-1 text-center font-bold transition-transform group-hover:-translate-y-1 group-hover:translate-x-1 group-focus-visible:-translate-y-1 group-focus-visible:translate-x-1">
					suivant
				</span>
			</a>
		)
	}
</nav>
