---
import '@fontsource/chewy'
import { ViewTransitions } from 'astro:transitions'
import type { Props as SeoProps } from 'src/components/Seo.astro'
import Seo from 'src/components/Seo.astro'
import 'src/style.css'

export type Props = { seo: SeoProps }

const { seo } = Astro.props
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Seo {...seo} />
		<ViewTransitions />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script src="/pagefind/pagefind-ui.js" is:inline></script>
	</head>
	<body class="bg-primary-300">
		<slot />
	</body>
</html>
