---
import '@fontsource/roboto'
import '@fontsource/roboto/700.css'
import '@fontsource/roboto/400-italic.css'
import '@fontsource/chewy'
import Header from '../components/header.astro'
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://fav.farm/%F0%9F%A4%96" />

		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Une professeure d'arts plastiques en collège, partage des séances créatives pour les élèves. Découvrez des activités artistiques inspirantes et explorez les galeries d'œuvres incroyables réalisées par nos jeunes artistes en herbe."
		/>
		<title>Arplastoc</title>
	</head>
	<body class="bg-blue-300">
		<Header />
		<main class="mt-8">
			<slot />
		</main>
	</body>
</html>
