---
import settings from "../content/settings/settings.json"
import '@fontsource/roboto'
import '@fontsource/roboto/700.css'
import '@fontsource/roboto/400-italic.css'
import '@fontsource/chewy'
import Header from '../components/header.astro'
import { config } from 'src/libs/siteConfig.ts'
export type Props = {
	title?: string
	description?: string
	imageUrl?: string
}

const { title, description, imageUrl } = Astro.props

const pageTitle = title ? `Arplastoc • ${title}` : 'Arplastoc'
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://fav.farm/%F0%9F%A4%96" />

		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
		<meta
			name="description"
			content={description ??
				settings.metaDesc}
		/>
		<meta property="og:title" content={pageTitle} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={config.siteUrl + Astro.url.pathname} />
		{imageUrl && (
			<meta property="og:image" content={config.siteUrl + imageUrl} />
			<meta property="og:image:alt" content={config.siteUrl} />
			<meta property="og:image:width" content="1200" />
			<meta property="og:image:height" content="630" />
			)
		}
	</head>
	<body class="bg-primary-300">
		<Header />
		<main class="mt-8">
			<slot />
		</main>
	</body>
</html>
