---
import '@fontsource/roboto'
import '@fontsource/roboto/700.css'
import '@fontsource/roboto/400-italic.css'
import '@fontsource/chewy'
import Header from '../components/header.astro'
export type Props = {
	title?: string
	description?: string
	imageUrl?: string
}

const { title, description, imageUrl } = Astro.props
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://fav.farm/%F0%9F%A4%96" />

		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content={description ??
				"Une professeure d'arts plastiques en collège, partage des séances créatives pour les élèves. Découvrez des activités artistiques inspirantes et explorez les galeries d'œuvres incroyables réalisées par nos jeunes artistes en herbe."}
		/>
		<meta property="og:type" content="website" />
		<title>Arplastoc {title && ` • ${title}`}</title>
		{title && <meta property="og:title" content="The Rock" />}
		{imageUrl && <meta property="og:image" content={imageUrl} />}
	</head>
	<body class="bg-primary-300">
		<Header />
		<main class="mt-8">
			<slot />
		</main>
	</body>
</html>
